{% extends "layout.html" %}

{% block title %}
    Busqueda
{% endblock %}


{% block main %}

    {% if resultados %}
    <h2 style="color: aliceblue;">Buscando resultados de {{ buscar }}</h2>

    <table class="table table-success table-striped">
        <tr>
            <th>isbn</th>
            <th>title</th>
            <th>author</th>
            <th>year</th>
        </tr>
    {% for fila in resultados%}
    <tr>
        <td>{{ fila.isbn }}</td>
        <td><a href="{{url_for('libro', isbn=fila.isbn) }}">{{ fila.title }}</a</td>
        <td>{{ fila.author }}</td>
        <td>{{ fila.year }}</td>
    </tr>
    
    {% endfor %}
    </table>
    
    {% else %}
        <p style="color: aliceblue;">Sin resultados</p>
        
    {% endif %}

{% endblock %}
