{% extends "layout.html" %}

{% block title %}
    Info Libro
{% endblock %}

{% block main %}

    <h1 style="color: aliceblue;"> Contenido </h1>

    <table class="table table-success table-striped">
        <tr><td>isbn</td><td>{{libro.isbn}}</td></tr>
        <tr><td>title</td><td>{{libro.title}}</td></tr>
        <tr><td>author</td><td>{{libro.author}}</td></tr>
        <tr><td>year</td><td>{{libro.year}}</td></tr>
      </table> <br>
 

        <form action="" method="post">
            <h4 style="color: aliceblue;">Opinion:</h4>
            <p>
                <p><textarea name="comentario" rows="8" cols="60"></textarea></p>
            </p>
            <h4 style="color: aliceblue;">Puntaje:</h4>
            <select name="puntaje">
                <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select><br><br>
            <p><input type="submit" value="puntuar"></p>
        </form>


{% endblock %}
