{% extends "layout.html" %}

{% block title %}
    Info Libro
{% endblock %}

{% block main %}

    <h1> Contenido </h1>

    <table>
        <tr><td>isbn</td><td>{{libro.isbn}}</td></tr>
        <tr><td>title}</td><td>{{libro.isbn}}</td></tr>
        <tr><td>author</td><td>{{libro.isbn}}</td></tr>
        <tr><td>year</td><td>{{libro.isbn}}</td></tr>
        <tr><td>Comentario</td>{{info.comentario}}</tr>
        <tr><td>puntaje</td>{{info.puntaje}}</tr>
    </table>

    <h3>Resumen</h3>
    {% set variable = namespace(un_resumen = false) %}
    {%if resumenes %}
        <table>
            <tr>
                <th>usuario</th><th>review</th><th>puntaje</th>
            </tr>
            {% for resumen in resumenes %}
                {% if resumen.user_id == user_id %}
                    {% set variable.un_resumen = true %}
                {% endif %}
                <tr>
                    <td>{{resumen.username}}</td><td>{{resumen.puntaje}}</td>
                </tr>
        </table>
    {% else %}
        <p>Error</p>
    {% endif %}

    {% if not variable.un_resumen %}
        
    {% endif %}
        <h3>Abandonar review</h3>
        {% if Error %} 
            <p class="error">Error</p>{{ error }}
        {% endif %}

        <form action="" method="post">
            <p>Opinion: </p>
            <p>
                <p><textarea name="message" rows="8" cols="80"></textarea></p>
            </p>
            <p>Puntaje:</p>
            <select name="puntaje">
                <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
            <p><input type="submit" value="puntuar"></p>
        </form>
        {% else %}
        <p>brobando</p>

        {% endif %}
        
{% endblock %}
