{% extends "layout.html" %}

{% block title %}
    Busqueda
{% endblock %}


{% block main %}

    {% if resultados %}
    <h2>Buscando resultados de {{ buscar }}</h2>

    <table class="mx-auto w-auto" class="table table-striped-columns">
        <tr>
            <th>isbn</th>
            <th>title</th>
            <th>author</th>
            <th>year</th>
        </tr>
    {% for fila in resultados%}
    <tr>
        <td>{{ fila.isbn }}</td>
        <td>{{ fila.title }}</td>
        <td>{{ fila.author }}</td>
        <td>{{ fila.year }}</td>
    </tr>
    
    {% endfor %}
    </table>
    
    {% else %}
        <p>Sin resultados</p>
        
    {% endif %}

{% endblock %}
